.vertical_text_inner {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: default;
}
.vertical_text_inner > span {
    transition: color 0.2s;
}
.is_red {
    color: #FF0044;
}
.vertical_text_inner:hover > span {
    color: #FF0044;
    cursor: pointer;
}