.selected_jobs_title {
    margin: 12px 0;
}
.resume_links_container {
    display: flex;
    width: 100%;
    margin: 84px 0;
}
.resume_links_container > a {
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.2s;
    border-bottom: 1px solid #392E26;
}
.resume_links_container > a:hover {
    color: #FF0044;
    cursor: pointer;
    border-bottom: 1px solid #FF0044;
}