.job_desc_container {
    margin: 12px 0 24px 0;
}
.bullet {
    font-size: 14px;
    margin: 4px 0;
}
.tech_stack {
    font-size: 16px;
}
.job_desc_title {
    margin: 12px 0 6px 0;
    font-weight: 700;
}
.job_desc_title > a {
    transition: color 0.2s;
}
.job_desc_title > a:hover {
    color: #FF0044;
    cursor: pointer;
}
.tech_stack_title {
    text-transform: capitalize;
    font-weight: 700;
}
.tech_stack {
    margin: 6px 0 12px 0;
}